@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  background-color: rgb(33, 29, 25);
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}

.header__home {
    background-image: url(images/chvorbg.jpg);
    background-size: cover; 
    background-position: 50% 20%;
    background-repeat: no-repeat;
    height: 100vh;

    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    

}

.header {
    
    
    color: #fff;

  

  /*background-color: #333; use collor for footer section */
}

.header__container {
  flex-shrink: 0;
}


.header__h1 {
  font-size: 2rem;
  font-weight: 500;
}

.header__h2 {
    flex-grow: 1;
  font-size: 8rem;
  font-weight: 200;
  letter-spacing: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  
}


.nav__container {
  margin: 5px auto;
  max-width: 1600px;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger--active {
        display: flex !important;
    }




.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }


.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }


.header__ul {
  
  list-style: none;
  display: flex;
    gap: 20px;
}

.header__ul li {
  font-size: 3rem;
  margin-inline: 20px;
}

.header__ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

.header__ul li a:hover {
  text-decoration: underline;
  color: #f4a261;
}

/* main section for the home page */


.about__column {
  display: flex;
  flex-wrap: wrap;
   padding: 20px;
  gap: 20px;

  align-items: stretch;
  
 
}

.welcome__container, .about__container {
    flex: 1 1 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;

}

.welcome__container {
    background-image: url(images/columnbg3.jpg); 
    background-position: 30% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.about__container {
    background-image: url(images/columnbg2.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.welcome__title, .about__title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 500;
  color: #f4a261;
  text-align: center;
}

.info__container {  
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
    padding: 20px;
}

.column1 {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    background-size: cover;
}

.colbg1 {
    background-image: url(images/columnbg3.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colbg2 {
    background-image: url(images/columnbg2.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column1__title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 500;
  color: #f4a261;
  text-align: center;
}

.column1__list {
    margin: 2rem auto;
    list-style-type: none;
    border: 1px solid black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column1__list li a {
    text-decoration: none;
    color: white;
}

.thelook__container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

.column2, .column2__img {
    flex: 1;
    border-radius: 8px;
}



.column2__title {
    font-size: 2rem;
    padding-bottom: 20px;
    font-weight: 500;
    color: #f4a261;
    text-align: center;
}

.column2__description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ddd;
    max-width: 600px;
    margin: 0 auto;
    
    text-align: center;
}

.column2__img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

.column2__figure img {
    width: 300px;
    height: 600px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


/* services section */
.service__main {
  font-size: 18px;
    background-color: #1a1a1a;
    color: #fff;
}

.contact__container {
  max-width: 1200px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #222;
    color: #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact__title {
  font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: #ddd;
    text-align: center;
}

.contact__description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ddd;
}

address {
    font-style: normal;
    line-height: 1.6;
    color: #ddd;
    font-size: 1.5rem;
  
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 500;
    font-size: 1.2rem;
    color: #ddd;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 1rem;
}

input{
    height: 70px;
}

textarea {
    resize: vertical;
    height: 300px;
}

.submit {
    background-color: #f4a261;
    width: 150px;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #e76f51;
}

input:focus, textarea:focus {
    border-color: #f4a261;
    outline: none;
}

.form-success {
    color: #4BB543;
    font-weight: 500;
    margin-top: 10px;
}

.map__container {
    margin-top: 2rem;
    height: 900px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:hidden;
}


/* gallery section */
.main__gallery {
    background-color: #fff;
    color: #000;
}
.gallery__container {
    max-width: 1500px;
    margin: 2rem auto;
    padding: 20px;
}

.gallery__title {
    font-size: 5.5rem;
    margin-bottom: 10px;
    font-weight: 200;
    color: #333;
    text-align: center;
}

.gallery__description {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #111010;
    text-align: center;
}

.gallery__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery__card {
  height: 750px;
  width: 450px;
  object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #222;
}

.gallery__card img {
    width: 450px;
    height: 750px;
    object-fit: cover;
}

.gallery__card:hover {
    transform: scale(1.05);
}

/* services section */
.services__main {
    background-color: black;
    color: #fff;
    font-size: 18px;
}

.profile__container {
   max-width: 1600px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    background-color: #333;
}

.profile__image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.profile__description {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ddd;
}
.profile__socials {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}



.social__item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.social__item img:hover {
    transform: scale(1.1);
}

.services__container {
    max-width: 1600px;
    margin: 2rem auto;
    padding: 20px;
}

.services__title {
    font-size: 5.5rem;
    margin-bottom: 10px;
    font-weight: 200;
    color: #fff;
    text-align: center;
}

.services__description {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #ddd;
    text-align: center;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.services__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
}

.services__item {
    width: 300px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #222;
    color: #fff;
    text-align: center;
}

.services__item img {
    width: 300px;
    height: 550px;
    object-fit: cover;
}

.services__item:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

.footer__text {
    font-size: 1.2rem;
    margin-bottom: 10px;
    width: 280px;
    height: 30px;
    background-color: #f4a261;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.footer__text a {
    color: #fff;
    text-decoration: none;
}

.footer__text a:hover {
    text-decoration: underline;
    color: #f4a261;
}
.footer__ul {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
  gap: 20px;
    list-style: none;
}

.footer__ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.footer__ul li a:hover {
    text-decoration: underline;
    color: #f4a261;
}

.footer__ul img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


@media  (min-width: 300px) and (max-width: 350px) {
    .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;


    }

    .header__ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 1rem 0;
        margin: 0;

    }

    .header__ul.hamburger--active {
        display: flex;
    }

    .hamburger {
        display: inline-block;
    }

    .header__h1 {
        font-size: 1rem;
    }

    .header__h2 {
        font-size: 1rem;
    }

    .column2__figure img {
        width: 300px;
    }


    .gallery__title {
        font-size: 2rem;
        line-height: normal;
    }

    .gallery__card {
      height: 500px;
      width: 240px;
      color: wheat;
      text-align: center;
      margin-bottom: 10px;
    }

    .gallery__card img {
        width: 240px;
        height: 470px;
    }

    .footer__ul {
        display: inline-block;
    }

    .footer__text {
        width: 290px;
    }


    
}

@media  (min-width: 351px) and (max-width: 768px) {
    .header__ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 70px;
        right: 0;
        width: 70%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding: 1rem 0;
        margin: 0;

    }

    .header__ul.hamburger--active {
        display: flex;
    }

    .hamburger {
        display: inline-block;
       
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: white;
    }

    .header__h1 {
        font-size: 1.6rem;
    }

    .header__h2 {
        font-size: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* gallery section */
    .gallery__title {
        font-size: 2.5rem;
        line-height: normal;
    }

    .gallery__card {
      height: 550px;
      width: 300px;
      color: wheat;
      text-align: center;
      margin-bottom: 10px;
    }

    .gallery__card img {
        width: 300px;
        height: 500px;
    }

    /* services section */
    .services__title {
        font-size: 3rem;
        line-height: normal;
    }

    /* contact section */
    .map__container {
        height: 500px;
    }


    .footer__ul {
        display: inline-block;
    }

}

